
<app-dashboard-header></app-dashboard-header>
<section class="body">
    <h3> Create Tracker </h3>
    <p class="alert alert-success" *ngIf="showMsg">
        <strong>Create tracker successful!</strong>
    </p>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="title">Habit Title</label>
          <input ngModel #title="ngModel" type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp" placeholder="Habit Title" required>
          <small *ngIf="!title.valid && title.touched" id="titleHelp" class="form-text text-danger">habit title is require</small>
        </div>
        <div class="form-group">
            <label for="monitorFor">Monitor habbit for</label>
            <select ngModel #monitorFor="ngModel" name="monitorFor" class="form-control" id="monitorFor" required>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
            <small *ngIf="!monitorFor.valid && monitorFor.touched" id="titleHelp" class="form-text text-danger">monitor habbit is require</small>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input [(ngModel)]="defaultDate"
                    #startDate="ngModel"
                    name="startDate"
                    type="text"
                    class="form-control"
                    id="startDate"
                    aria-describedby="startDateHelp"
                    placeholder="YYYY-MM-DD"
                    required
                    bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
            <small *ngIf="!startDate.valid && startDate.touched" id="titleHelp" id="startDateHelp" class="form-text text-danger">start date is invalid</small>
        </div>
        <div class="form-group">
            <label for="timesPerDay">How many times a day do you want to do this?</label>
            <input ngModel #timesPerDay="ngModel" name="timesPerDay" type="text" class="form-control" id="timesPerDay" aria-describedby="timesPerDayHelp" placeholder="Time per day"
                   required pattern="^[0-9]*$">
            <small *ngIf="!timesPerDay.valid && timesPerDay.touched" id="timesPerDayHelp" class="form-text text-danger">time per day is number only</small>
        </div>
        <div class="form-group">
            <label for="daysPerWeek">How many days a week do you want to do this?</label>
            <input ngModel #daysPerWeek="ngModel" name="daysPerWeek" type="text" class="form-control" id="daysPerWeek" aria-describedby="daysPerWeekHelp" placeholder="Day per week"
                   required pattern="[1-7]" >
            <small *ngIf="!daysPerWeek.valid && daysPerWeek.touched" id="daysPerWeekHelp" class="form-text text-danger">day per week must be 1 to 7</small>
        </div>
        <button type="submit" class="btn btn-success btn-block" [disabled]="!f.valid"> Save </button>
        <a [routerLink]="['/dashboard']" class="btn btn-outline-dark btn-block"> Cancel </a>
    </form>
  </section>


